make_release_hash_list.sh eol=lf
project.json eol=crlf
main.js eol=crlf
floatUI.js eol=crlf
.gitattributes eol=crlf
versions/latest.txt eol=crlf
upload_to_emulator.cmd eol=crlf
upload_to_device.cmd eol=crlf